@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer localizer
@inject Microsoft.Extensions.Options.IOptions<Microsoft.AspNetCore.Builder.RequestLocalizationOptions> locOptions

@{
    var culture = Context.Features.Get<Microsoft.AspNetCore.Localization.IRequestCultureFeature>();
    var cultureList = locOptions.Value.SupportedUICultures.Select(x => new SelectListItem { Value = x.Name, Text = localizer.GetString(x.Name) }).ToList();
    var last = cultureList.Last();
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<div class="dropdown-menu dropdown-menu-right profile-dropdown ">
    <form class="" name="lang" id="lang" asp-action="CultureManagement" asp-controller="Home" method="post" asp-route-returnUrl="@returnUrl">

        <input type="hidden" id="culture" name="culture" />
        @foreach (var i in cultureList)
        {
            <!-- item-->
            <a style="cursor:pointer;" onclick="$('#culture').val('@i.Value'); $('#lang').submit();" class="dropdown-item notify-item">
                <i class="fe-bookmark"></i>
                <span>@i.Text</span>
            </a>

            @if (i.Value != last.Value)
            {
                <div class="dropdown-divider"></div>
            }
        }

    </form>
</div>
