<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li>
                    <a  href="@Url.Action(" Index","Home")">
                        <i class="mdi mdi-calendar"></i>
                        <span >  الرئيسية </span>
                    </a>
                </li>
              
            </ul>
</div></div></div>